<div class="oh">
  <section>
    <div class="col-md-12 mb-4">
      <div class="view d-flex align-items-center justify-content-center mountain">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h3 class="card-title py-3 font-weight-bold"><strong>Hytorc</strong></h3>
            <!-- TODO: add logo image -->
            <h5>Mission statement</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Projects section v.4-->
  <section>
    <!--Grid row-->
    <div class="row mx-1">

      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <div class="view d-flex align-items-center justify-content-center wrench">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h3 class="card-title py-3 font-weight-bold"><strong>Products</strong></h3>
              <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!</p>
              <a class="btn btn-outline-danger"><i class="far fa-clone left"></i> View Products</a>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <div class="view d-flex align-items-center justify-content-center training">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h3 class="card-title py-3 font-weight-bold"><strong>Training</strong></h3>
              <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!</p>
              <a class="btn btn-outline-danger"><i class="far fa-clone left"></i>View Training</a>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <div class="view d-flex align-items-center justify-content-center upkeep">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h3 class="card-title py-3 font-weight-bold"><strong>Upkeep/Rentals</strong></h3>
              <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!</p>
              <a class="btn btn-outline-danger"><i class="far fa-clone left"></i>View Upkeep/Rentals</a>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Projects section v.4-->

  <!--Grid column-->
  <section>
    <div class="col-md-12 mb-4">
      <div class="view d-flex align-items-center justify-content-center team">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h3 class="card-title py-3 font-weight-bold"><strong>Our Team</strong></h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!</p>
            <a class="btn btn-outline-danger"><i class="far fa-clone left"></i> View Our Team</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--Grid column-->
