header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
}

.h1-sized {
  font-weight: lighter;
  font-size: 2.5rem;
}

.header-color {
  background-color: #213E4D;
}

.header-space {
  margin-bottom: 5.5rem;
}

.lj {
  margin-right: auto;
}

.rj {
  margin-left: auto;
}

.side-pad {
  padding-right: 1rem;
}

.top-pad {
  margin-top: 1rem;
}

.oh {
  overflow: hidden;
}

.center-content {
  margin: auto;
}

.btn-outline-custom {
  border-color: #314C64 !important;
  color: #314C64 !important;
}

.btn-outline-danger:hover{
  background-color: #314C64 !important;
  border-color: #314C64 !important;
}

.btn-outline-danger {
  border-color: #314C64 !important;
}

.wrench {
  background-image: url(/images/placeholderImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.river {
  background-image: url(/images/freshwater-mountain-creek.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mountain {
  background-image: url(/images/Magic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.training {
  background-image: url(/images/hands-on-blueprints.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.team {
  background-image: url(/images/office-team-business-meeting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.upkeep {
  background-image: url(/images/circular-saw-cuts-beam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo {
  height: 1rem;
  overflow: hidden;
}

.nav-text {
  font-size: 0.75rem;
}
