header {
  position: fixed;
  width: 100%;
}

footer {
  width: 100%;

}

.h1-sized {
  font-weight: lighter;
  font-size: 2.5rem;
}

.header-color {
  background-color: #213E4D;
}

.lj {
  margin-right: auto;
}

.rj {
  margin-left: auto;
}

.top-pad {
  margin-top: 1rem;
}

.center-content {
  margin: auto;
}

.btn-outline-custom {
  border-color: #314C64 !important;
  color: #314C64 !important;
}

.btn-outline-danger:hover{
  background-color: #314C64 !important;
  border-color: #314C64 !important;
}

.btn-outline-danger {
  border-color: #314C64 !important;
}

.wrench {
  background-image: url(/images/placeholderImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.river {
  background-image: url(/images/freshwater-mountain-creek.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mountain {
  background-image: url(/images/Magic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
